:root {
  --main-light-color: #ffffff;
  --main-text-color: #555555;
  --main-title-color: #303030;
  --accent-color: #ff6c00;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-light-color);
  color: var(--main-text-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
}
header {
  background-color: black;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title {
  color: var(--main-title-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}
.nav-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-light-color);
}
.nav-link.curent,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
